{% extends 'QRzaum/base.html' %}
{% load static %}
{% block title %}QRzaum{% endblock %}
{% block content %}

<br>
<br>
<div class="container">
  <H1> Crie e administre QR Codes para uso pessoal e/ou comercial!</H1>
  <br>
  <div class="row justify-content-evenly">
    <a href="{% url 'qrcodes:lista-qrcodes' %}" class="btn btn-primary col-md-3">Explorar QR Codes</a>
    {% if user.is_authenticated %}
    <a href="{% url 'qrcodes:lista-qrcodes' %}" class="btn btn-primary col-md-3">Criar QR Code</a>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary col-md-3">Criar QR Code</a>
    {% endif %}
    
  </div>
</div>

{% endblock %}