{% extends 'QRzaum/base.html' %}
{% load static %}
{% block title %}QRzaum{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  Olá {{ user.username }}!
{% else %}
  <a href="{% url 'login' %}"></a>
{% endif %}

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdAQAAAAB+6FqiAAAAcElEQVR42mP4////DwY04oOkQwXD99vxFQxfAi8CichAIBECJL5fBIp9EAXK/v8HVPc7bOkPhm+7twFZsWY/GD7u/VXB8Ce6HWjKBxGgKbKffjB8v5/+g+FL8DwgEVEENCXuKFDs4nSgrLR4BQMWywGe2FgbLEWgagAAAABJRU5ErkJggg==" alt="star" width="100" height="100">


{% endblock %}