{% extends 'QRzaum/base.html' %}
{% load static %}

{% block content %}

<h2>QRCodes</h2>

<p>{{host}}</p>
<br>
<div class="container">
    {% for qr in qrcodes %}
    <div class="row">
        <div class="col-sm-6">
            <div class="container">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{qr.img}}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{qr.name}}</h5>
                        <a href="#">{{qr.user}}</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    {% empty %}
    <tr>
        <th colspan="5">Ainda não tem QR Codes cadastrados</th>
    </tr>
    {% endfor %}
</div>

{% endblock %}