{% extends 'QRzaum/base.html' %}
{% load static %}

{% block content %}

<h2>QR Codes</h2>

<br>
<div class="container">
    <div class="row">
        {% for qr in qrcodes %}

        <div class="col-md-4">
            <div class="container">
                <div class="card text-dark bg-light mb-3" style="width: 24rem;">
                    <br>
                    <h5 class="card-title text-sm-center">{{qr.name}}</h5>
                    
                    <img class="card-img-top" src="{{qr.img}}" alt="">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{qr.url}}</h6>
                        <a href="#">{{qr.user}}</a>
                    </div>
                </div>
                <br>
            </div>
        </div>

        {% empty %}
        <tr>
            <th colspan="5">Ainda não tem QR Codes cadastrados</th>
        </tr>
        {% endfor %}
    </div>
</div>

{% endblock %}