{% extends 'QRzaum/base.html' %}
{% load static %}

{% block content %}

<h2>QRCodes</h2>

<br>
<div class="container">
    <div class="row">
        {% for qr in qrcodes %}

        <div class="col-md-4">
            <div class="container">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{qr.img}}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{qr.name}}</h5>
                        <a href="#">{{qr.user}}</a>
                    </div>
                </div>
                <br>
            </div>
        </div>

        {% empty %}
        <tr>
            <th colspan="5">Ainda não tem QR Codes cadastrados</th>
        </tr>
        {% endfor %}
    </div>
</div>

{% endblock %}